@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Oswald:wght@500&display=swap");
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  font-family: 'Oswald', sans-serif;
}

p {
  font-size: 17px;
  font-weight: normal;
  line-height: 30px;
  color: #777777;
  margin-bottom: 15px;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
}

.s-link {
  background-color: #45d0c1;
  padding: 15px 35px;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 20px;
  line-height: 30px;
  transition: all ease .3s;
}

.s-link:hover {
  color: #fff;
  background-color: #40bbae;
  text-decoration: none;
}

.s-link i {
  margin-left: 5px;
}

.alert {
  margin-bottom: 0;
  padding: 1rem;
  border-radius: 0;
}

header {
  background-color: #131313;
  padding: 20px 0px;
}

header .navbar {
  padding: .5rem 0rem;
}

header .navbar-brand {
  width: 60px;
}

header .nav-link {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

.hero {
  background-color: #131313;
  color: #fff;
  padding: 50px 0px;
  text-align: center;
}

.hero h1 {
  font-size: 120px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 0px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 0px;
  color: #fff;
}

.hero iframe {
  margin-top: 30px;
}

.hero .s-link {
  margin-top: 30px;
}

.about-home {
  padding: 50px 0px;
}

.about-home h2 {
  text-transform: uppercase;
  font-size: 32px;
  letter-spacing: 1px;
  line-height: 42px;
  margin-bottom: 20px;
}

.about-home p {
  font-size: 18px;
  margin-bottom: 20px;
}

.socialbox-home {
  padding: 50px 0;
}

.socialbox-home h1 {
  font-size: 100px;
  text-transform: uppercase;
  margin-top: -10px;
}

.socialbox-home p {
  font-size: 18px;
  margin-bottom: 20px;
}

.page-blog .title-page {
  font-size: 40px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.page-blog .sp-list {
  margin-bottom: 30px;
  transition: all ease .3;
}

.page-blog .sp-list a:hover {
  text-decoration: none;
}

.page-blog .sp-list a:hover h3 {
  opacity: .8;
}

.page-blog .sp-list a h3 {
  color: #303030;
}

.blog-home {
  padding: 50px 0px;
}

.btn-plus {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  background: #45d0c1;
  border-radius: 5px;
  padding: 15px 25px;
}

.title-section {
  text-align: center;
  margin-bottom: 40px;
}

.head--post {
  padding: 20px 0px;
}

.head--post .post-categories li {
  margin-bottom: 10px;
  display: inline-block;
  list-style: none;
}

.head--post .post-categories li a {
  color: #fff;
  background: #45d0c1;
  padding: 5px 15px 6px;
  border-radius: 4px;
}

.title--portfolio {
  margin-bottom: 30px;
}

.post--pre {
  margin-bottom: 30px;
}

.post--pre a {
  color: #323232;
  transition: all ease .2s;
}

.post--pre a:hover {
  color: #ff4a00;
  text-decoration: none;
}

.post--pre a h3 {
  font-size: 16px !important;
  margin-top: 6px !important;
}

.content-page {
  padding: 50px 0;
}

.navbar-light .navbar-nav .nav-link {
  color: #999999;
  font-size: 14px;
  font-weight: normal;
}

.orcamento {
  background-color: #303030;
  transition: all ease .3s;
  border-radius: 3px;
}

.orcamento:hover {
  background-color: #ff4a00;
}

.orcamento a {
  color: #ffffff !important;
}

.meta-single {
  text-transform: uppercase;
  color: #999999;
  letter-spacing: 1px;
  font-size: 14px;
  margin-bottom: 20px;
  display: inline-block;
}

.page-numbers {
  border: 1px solid #e1e1e1;
  padding: 10px 20px;
  border-radius: 3px;
  margin: 30px 0px;
  display: inline-block;
  color: #999999;
  transition: all ease .3s;
}

.page-numbers:hover {
  text-decoration: none;
  color: #999999;
  background-color: #e1e1e1;
}

.current {
  background-color: #999999;
  color: #ffffff;
}

.current:hover {
  background-color: #999999;
  color: #ffffff;
}

footer {
  padding: 50px 0px;
  background: #131313;
  color: #fff;
}

footer p {
  color: #fff;
  opacity: .6;
}

footer hr {
  background-color: #333;
}

footer a {
  color: #fff;
  opacity: .6;
  transition: all ease .3s;
}

footer a:hover {
  color: #fff;
  text-decoration: none;
  opacity: 1;
}

footer ul li {
  list-style: none;
  display: inline-block;
  margin-left: 20px;
}

footer ul li a {
  font-size: 18px;
}

@media (max-width: 992px) {
  .socialbox-home {
    padding: 50px 0;
    text-align: center;
  }
  .socialbox-home h1 {
    font-size: 60px;
    text-transform: uppercase;
    margin-top: -10px;
  }
  .hero .embed-responsive {
    display: none;
  }
  .about-home {
    text-align: center;
  }
  footer {
    text-align: center !important;
  }
}

@media (max-width: 768px) {
  .content-page {
    padding: 20px 0px;
  }
}
