@font-face {
    font-family: 'monument_extendedbold';
    src: url('monumentextended-bold-webfont.woff2') format('woff2'),
         url('monumentextended-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'monument_extendedregular';
    src: url('monumentextended-regular-webfont.woff2') format('woff2'),
         url('monumentextended-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}